<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Blockchain based voting</title>
</head>

<body>
  <div class='container'>
    <!-- <div class="jumbotron"> -->
    <div class="jumbotron jumbotron-image" style="background-image: url(https://news.uchicago.edu/sites/default/files/styles/full_width/public/images/2019-07/Mobile%20voting.jpg?itok=oezMDWp-);">
      <h2>Blockchain based e-Voting System</h2>
    </div>
    <div class="candidate-form">
      <form id="vote" action="/add-candidate/broadcast" method="post"
        onSubmit="event.preventDefault(); validateMyForm();">
        <p>Enter candidate information:</p>
        <div>
          <input type="text" id="candidate" name="candidate" class="form-control" placeholder="Candidate Name" style="width:auto">
        </div>
        <div>
          <input type="text" id="team" name="team" class="form-control" placeholder="Candidate Team" style="width:auto">
        </div>

        <button type="submit" value="Add" class="btn btn-primary">Add</button>
      </form>
      <a href='/'><h4>Home</h4></a>
    </div>

    <script type="text/javascript">
      var form = document.getElementById('vote');
      function validateMyForm() {
        form.submit()
      }
    </script>
    <div id="root"></div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>