<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Blockchain based voting</title>
</head>

<body>
  <div class='container'>
    <div class="jumbotron">
      <h2>Blockchain based voting</h2>
    </div>

    <div class='row'>
      <div class='col-sm-1'></div>
      <div class='col-sm-4'>
        <a href='/add-vote/broadcast'>
          <h3>Cast Vote</h3>
        </a>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-1'></div>
      <div class='col-sm-4'>
        <a href='/summary'>
          <h3>Election Summary</h3>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-1'></div>
      <div class='col-sm-4'>
        <a href='/logout' class='btn btn-primary' role='button'>
          <h4>Logout</h4>
        </a>
      </div>
    </div>
  </div>
  </div>

  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>