<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Blockchain based voting</title>
</head>

<body>
  <div class='container'>
    <div class="jumbotron">
      <h2>Blockchain based voting</h2>
    </div>
    <div class="register-form">
      <form id="register" action="/register/broadcast" method="post"
        onSubmit="event.preventDefault(); validateMyForm();">
        <div class="form-group">
          <input type="text" id="mail" name="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" id="role" name="role" placeholder="Role (admin/voter)" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" value="Register" class="btn btn-success">Register</button>
      </form>
    </div>

    <script type="text/javascript">
      var form = document.getElementById('register');
      function validateMyForm() {
        form.submit()
      }
    </script>
    <div id="root"></div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>