<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Blockchain based voting</title>
</head>

<body>
    <div class='container'>
        <div class="jumbotron">
            <h2>Blockchain based voting</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Index</th>
                    <th>Votes</th>
                    <th>Previous Hash</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Block 1</td>
                    <td>1</td>
                    <td>candidate1</td>
                    <td>572r7qy87d890rh</td>
                    <td>572r7qy87d890rh</td>
                </tr>
            </tbody>
        </table>
        <div id="root"></div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>